html, body {
    background-color: rgb(255, 255, 255);
    font-family: 'Quicksand', sans-serif;
   font-size: 20px;
}

img {
    width: 100%;
    padding: 12px;
    opacity: 1;
}

img:hover {
    opacity: 0.75;
    cursor: crosshair;
}

.display-1, h1 {
    color: #fff;
    font-family: 'Alegreya Sans SC', sans-serif;
    text-shadow: 2px 2px 2px #000000;
}

.logoOne {
    -webkit-animation-name: logobg;
    -webkit-animation-duration: 10s;
    animation-name: logobg;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
.logoTwo {
    -webkit-animation-name: logobg;
    -webkit-animation-duration: 10s;
    animation-name: logobg;
    animation-duration: 10s;
    animation-delay: 0.1s;
    animation-iteration-count: infinite;
}
.logoThree {
    -webkit-animation-name: logobg;
    -webkit-animation-duration: 10s;
    animation-name: logobg;
    animation-duration: 10s;
    animation-delay: 0.2s;
    animation-iteration-count: infinite;
}
.logoFour {
    -webkit-animation-name: logobg;
    -webkit-animation-duration: 10s;
    animation-name: logobg;
    animation-duration: 10s;
    animation-delay: 0.3s;
    animation-iteration-count: infinite;
}
.logoFive {
    -webkit-animation-name: logobg;
    -webkit-animation-duration: 10s;
    animation-name: logobg;
    animation-duration: 10s;
    animation-delay: 0.4s;
    animation-iteration-count: infinite;
}
.logoSix {
    -webkit-animation-name: logobg;
    -webkit-animation-duration: 10s;
    animation-name: logobg;
    animation-duration: 10s;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
}


.headerButton {
    border: 0px;
    margin-top: 50px;
    margin-bottom: 20px;
    background-color: transparent;
}

.headerButton:hover {
    border: 0px;
    margin-top: 50px;
    margin-bottom: 20px;
    background-color: transparent;
    cursor: default;
}

.name {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 0;
    height: 120px;
    vertical-align: top;
}

footer {
    font-size: 26px;
    color: #fff;
}

.bgTexture {
    background-image: url("../images/keyb3.jpeg");
    background-size: cover;
    background-position-x: center;
    background-position-y: top;
    background-color: #000;
}


/* Safari 4.0 - 8.0 */
@-webkit-keyframes logobg {
    0% {color: #eee;}
    10% {color: rgb(52,58,64);}
    20% {color: #eee;}
    100% {color: #eee;}
  }
  
  /* Standard syntax */
  @keyframes logobg {
    0% {color: #eee;}
    10% {color: rgb(52,58,64);}
    20% {color: #eee;}
    100% {color: #eee;}
  }